<html>

<head>
    {{- partial "header.html" . }}
</head>

<body>
    <div class="columns is-multiline is-gapless">

        {{/* Show entrypoints into topic first */}}
        {{ $allNotes := where .Pages "Section" "notes" }}
        {{ $notesEntryPoints := where $allNotes "Params.tags" "intersect" (slice "entrypoint") }}

        {{ with $notesEntryPoints }}
        {{ range .ByTitle }}
        <div class="column is-one-third">
            {{ partial "generateNoteCard.html" (dict "notepage" . "siteContext" $.Site ) }}
        </div>
        {{ end }}
        {{ end }}

        {{ $notesBesideEntryPoints := $allNotes | complement $notesEntryPoints }}
        {{ with $notesBesideEntryPoints }}
        {{ range .ByTitle }}
        <div class="column is-one-third">
            {{ partial "generateNoteCard.html" (dict "notepage" . "siteContext" $.Site ) }}
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{ partial "iframe/inner-scripts" . }}

</body>

</html>