{{ define "main" }}

<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ .Title }}</h1>

        <buttons class="is-right">
            {{ if not .Params.lock }}
            <a class="button is-primary is-outlined is-small" href="/admin/#/edit/notes/{{ .Params.id }}">
                {{partial "fa-icon" (dict "icon" "regular/edit")}}
                <span>Edit</span>
            </a>
            {{ end }}

            {{ $link:= printf "[#](/notes/%s \"%s\")" .Params.id .Title }}
            <button class="button is-primary is-outlined is-small btn"
                data-clipboard-text="{{$link}}">
                {{partial "fa-icon" (dict "icon" "regular/copy")}}
                <span>Copy Link</span>
            </button>
        </buttons>

        {{ partial "keyword-line.html" (dict "content" . "tohighlight" .Params.keywords ) }}

        <div class="content">
            {{ .Content }}
        </div>

        <div class="content">
            <strong>{{ .Summary}}</strong>
        </div>
    </div>
</section>

{{/* In a render hook we add class="note-link" to all valid note links */}}
{{ $linked_ids := slice }}
{{ range findRE "<a .*class=\".*note-link.*\".*>.*</a>" (print .Content .Summary) }}
{{ $linked_ids = $linked_ids | append (index (findRE "href=\".*?\"" .) 0 | findRE "[[:digit:]]{16}") }}
{{ end}}

{{ $linked_notes := slice }}
{{ range $linked_ids | uniq }}
{{ $linked_notes = $linked_notes | append ($.Site.GetPage (path.Join "/notes" .)) }}
{{ end }}

{{/* Do not list self references*/}}
{{ $linked_notes = $linked_notes | complement (slice .) }}

{{ with $linked_notes }}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Linked Notes</h2>
    </div>
</section>

{{ range . }}
{{ partial "generateNoteCard.html" (dict "notepage" . "tohighlight" $.Params.keywords ) }}
{{ end }}
{{ end }}

{{ with index .Site.Data.backlinks (strings.TrimRight "/" .RelPermalink) }}

{{/* TODO remove duplicates */}}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Notes Linking this Note</h2>
    </div>
</section>
{{ range . }}
{{ $referring_page := $.Site.GetPage (path.Join "/notes" (index . "from"))}}
{{ partial "generateNoteCard.html" (dict "notepage" $referring_page "tohighlight" $.Params.keywords ) }}
{{ end }}
{{ end }}

{{ $related := (where (.Site.RegularPages.Related .) "Section" "notes") | complement $linked_notes | first 10 }}

{{ with $related }}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Possibly related Notes</h2>
    </div>
</section>
{{ range . }}
{{ partial "generateNoteCard.html" (dict "notepage" . "tohighlight" $.Params.keywords ) }}
{{ end }}
{{ end }}


{{ with .Params.references }}
<section class="section">
    <div class="container">
        <h2 class="title is-2">References</h2>
    </div>
</section>
{{ range . }}
{{ with $.Site.GetPage (path.Join "/references" .id) }}
<a href="{{ partial "humanizeURL" (dict "linkTo" . "Site.Params" .Site.Params) }}">{{ with .Params.authors }}{{ delimit . ", " " & "}}: {{ end }}{{.Title}}</a><br>
{{ .Summary }}
{{ end }}
{{ end }}
{{ end }}


{{ end }}