<h1 class="title is-3">
    <a href="{{ .Permalink }}">
        {{ if (and (eq (time .Date).Year (time .Lastmod).Year) (eq (time .Date).YearDay (time .Lastmod).YearDay))}}
        (created)
        {{ else }}
        (modified)
        {{ end }}
        {{ .Title }}
    </a>
</h1>

<a href="/admin/#/edit/notes/{{ .Params.id }}">(edit)</a>

<div class="content">
    {{ with .Params.keywords }}
    {{ range . | sort }}
    <span class="tag">
        {{ . }}
    </span>
    {{ end }}
    {{ end }}

    {{ .Summary }}
</div>