{{ define "main" }}
<section class="section">
  <h1 class="title is-1">List of Topics</h1>

  {{- range .Data.Terms.Alphabetical }}
  <h2 class="title is-2"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
  <div class="content">
    <dl>
      <dt>
        <strong>Description</strong>
      </dt>
      <dd>{{ .Page.Content }}</dd>
      <dt>
        <strong>
          Number of Notes
        </strong>
      </dt>
      <dd>{{ .Count }} </dd>
    </dl>
  </div>
  {{ end }}
</section>
{{ end }}