{{ define "main" }}

<h1 class="title is-1">{{ .Data.Singular | humanize }}: {{ .Title }}</h1>
<h1 class="subtitle is-4">{{with .Content}}Description and {{end}}List of Notes</h1>

{{ with .Content }}
<section class="section">
  <div class="container">
    <div class="content">
      {{ . }}
    </div>
  </div>
</section>
{{ end }}

{{/* Show entrypoints into topic first */}}
{{ $notesEntryPoints := intersect .Pages (($.Site.GetPage "tags").Data.Terms.Get "entrypoint").Pages }}

{{ with $notesEntryPoints }}
<section class="section">
  <div class="container">
    <h2 class="title is-3">Entry Points Notes of {{$.Data.Singular | humanize }} "{{ $.Title }}"</h2>
    Notes tagged as <code>entrypoint</code>.
    {{ range .ByTitle }}
    {{ partial "card.html" (dict "content" .) }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ $notesBesideEntryPoints := .Pages.ByTitle | complement $notesEntryPoints }}
{{ with $notesBesideEntryPoints }}
<section class="section">
  <div class="container">
    <h2 class="title is-3">{{with $notesEntryPoints}}Further {{end}}Notes of {{$.Data.Singular | humanize }} "{{ $.Title }}"</h2>

    {{ range . }}
    {{ partial "card.html" (dict "content" .) }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}