{{/* Just notes become listed */}}
{{ define "main" }}

<section class="section">
  <h1 class="title is-1">{{ .Data.Singular | humanize }}: {{ .Title }}</h1>
  <h1 class="subtitle is-4">{{with .Content}}Description and {{end}}List of Notes</h1>
</section>

{{ with .Content }}
<section class="section">
  <div class="container">
    <div class="content">
      {{ . }}
    </div>
  </div>
</section>
{{ end }}

{{/* Show entrypoints into topic first */}}
{{ $allNotes := where .Pages "Section" "notes" }}
{{ $notesEntryPoints := where $allNotes "Params.tags" "intersect" (slice "entrypoint") }}

{{ with $notesEntryPoints }}
<section class="section">
  <div class="container">
    <h2 class="title is-3">Entry Points with {{$.Data.Singular | humanize }} "{{ $.Title }}"</h2>
    Notes tagged as <code>entrypoint</code>.
  </div>
</section>
{{ range .ByTitle }}
{{ partial "generateNoteCard.html" (dict "notepage" . "siteContext" $.Site ) }}
{{ end }}
{{ end }}

{{ $notesBesideEntryPoints := $allNotes | complement $notesEntryPoints }}
{{ with $notesBesideEntryPoints }}
{{with $notesEntryPoints}}
<section class="section">
  <div class="container">
    <h2 class="title is-3">Further Notes with {{$.Data.Singular | humanize }}
      "{{ $.Title }}"</h2>
  </div>
</section>
{{end}}

{{ range .ByTitle }}
{{ partial "generateNoteCard.html" (dict "notepage" . "siteContext" $.Site ) }}
{{ end }}
{{ end }}

{{ end }}