{{ define "main" }}

<section class="section">
    <h1 class="title is-1">{{ .Title }}</h1>

    <div class="content">
        {{ .Content }}
    </div>

    {{/* Grouping leads to error with empty list*/}}
    {{ $allNotes:= where .Site.RegularPages "Section" "notes" }}
    {{ $allNotesGrouped:= slice }}
    {{ with $allNotes }}
    {{ $allNotesGrouped = $allNotes.GroupByParamDate "Lastmod" "2006-01-02" }}
    {{ else }}
    No notes yet. Maybe you want to add some notes first.
    {{ end }}

    {{ with $Paginator:= .Paginate $allNotesGrouped }}
    {{ range $Paginator.PageGroups }}
    <h2 class="title is-2">{{ dateFormat "Monday, 02.01.2006" .Key }}</h2>

    {{ range .Pages }}
    {{ .Render "summary" }}
    {{end}}
    {{end}}

    {{ end }}
    {{ template "_internal/pagination.html" . }}
</section>

{{ end }}