{{ define "main" }}

<section class="section" style="-moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; ">
    <h1 class="title is-1">{{ .Title }}</h1>

    <div class="content">
        {{ .Content }}
    </div>

    {{/* range where .Site.RegularPages "Section" "notes" */}}
    {{ range (.Paginate ((where .Site.RegularPages "Section" "notes").GroupByParamDate "Lastmod" "2006-01-02")).PageGroups  }}
    <h2 class="title is-2">{{ dateFormat "Monday, 02.01.2006" .Key }}</h2>

    {{ range .Pages }}
    {{ if (and (eq (time .Date).Year (time .Lastmod).Year) (eq (time .Date).YearDay (time .Lastmod).YearDay))}}
    created
    {{ else }}
    modified
    {{ end }}
    {{ .Title }} ({{.Date}} | {{.Lastmod}})<br>
    {{end}}
    {{end}}

    {{ template "_internal/pagination.html" . }}
</section>

{{ end }}
