<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">{{ i18n "organizer" }}</p>
            <p class="title is-5">
                <a href="https://nothinghere/">Thought Tank</a>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">{{ i18n "contact" }}</p>
            <p class="title is-5">
                Christian Lasarczyk
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">E-mail</p>
            <p class="title is-5">
                <a href="mailto:christian@lasarczyk.de">christian@lasarczyk.de</a>
            </p>
        </div>
    </div>
</nav>
<p>
    <a href="/about">About/Impressum</a> | <a href="/privacy">Privacy Statement</a>
</p>