<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>

{{/* $stylesheet := .Site.Data.webpack.main }}
{{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
{{ end */}}

{{ $options_toCSS := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $options_postCSS := (dict "use" "autoprefixer") }}
{{ $style := resources.Get "sass/mystyles.scss" | resources.ToCSS $options_toCSS | resources.PostCSS $options_postCSS | minify | fingerprint | resources.PostProcess }}
<link href="{{ $style.Permalink }}" rel="stylesheet">

{{ partial "custom-header.html" . }}

<meta name="twitter:card" content="summary">
</meta>
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
{{ template "_internal/opengraph.html" . }}

{{- with .Params.bpmn }}
{{- $image_file := resources.Get (printf "%s%s" . ".png") }}
{{- $image := $image_file.Fill "1200x627" }}
<meta property="og:image" itemprop="image" content="http://gasshuku-tamm.de{{ $image.RelPermalink }}" />
<meta property="og:image:secure_url" itemprop="image" content="{{ $image.Permalink }}" />
<meta property="twitter:image" content="{{ $image.Permalink }}" />
{{- end }}
{{- with .Params.opengraph }}
{{- $image_file := resources.Get . }}
{{- $image := $image_file.Fill "1200x627" }}
<meta property="og:image" itemprop="image" content="http://gasshuku-tamm.de{{ $image.RelPermalink }}" />
<meta property="og:image:secure_url" itemprop="image" content="{{ $image.Permalink }}" />
<meta property="twitter:image" content="{{ $image.Permalink }}" />
{{- end }}

<meta name="Description" content="Thought Tank a self-hosted Zettlekasten notes app.">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
