<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}/">
            {{ $logo := resources.Get (printf "svg/%s.svg" "thought-tank-logo-small")  | resources.Minify }}
            <span class="icon">
                <img class="icon" src="{{ $logo.RelPermalink }}">
            </span>
            <p class="title">
                {{ .Site.Title}}
            </p>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}" href="{{ .URL }}">
                {{ .Title }}
            </a>
            {{ end }}
        </div>

        <div class="navbar-end">
            {{ $currentPage := . }}
            {{ range .Site.Menus.navbar_right }}
            <a class="navbar-item {{ if $currentPage.IsMenuCurrent "navbar_right" . }}is-active{{ end }}"
                href="{{ .URL }}">
                {{ .Title }}
            </a>
            {{ end }}

            {{ with .Site.Menus.menu_more }}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    more
                </a>

                <div class="navbar-dropdown">
                    {{ range . }}
                    <a class="navbar-item {{ if $currentPage.IsMenuCurrent "menu_more" . }}is-active{{ end }}"
                        href="{{ .URL }}">
                        {{ .Title }}
                    </a>
                    {{ end }}
                </div>
            </div>
            {{ end }}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    {{partial "fa-icon" (dict "icon" "brands/twitter" "alt" "Twitter")}}
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item"
                        href="https://twitter.com/intent/tweet?{{ (querify "text" "Thought Tank a private hosted Zettelkasten" "url" .Permalink ) | safeURL }}">
                        Tweet this page</a>
                    <a class="navbar-item" href="https://twitter.com/memimi">
                        Follow @memimi
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>