{{ $clipboardjs:= resources.Get "js/clipboard.min.js" }}
<script src="{{ $clipboardjs.RelPermalink }}"></script>
<script type="text/javascript">
  new ClipboardJS('.btn');
</script>

{{ $iframeresizerjs:= resources.Get "js/iframeResizer.min.js" }}
<script src="{{ $iframeresizerjs.RelPermalink }}"></script>

<script type="text/javascript">
  iFrameResize({
    log: true,
    checkOrigin: false,
    onMessage: function (payload) {
      if (payload.message.url) window.history.pushState({}, payload.message.title, payload.message.url);
      document.title = payload.message.title;
    },
  }, '#mainContentIframe')
</script>


<script type="text/javascript">
  /* 
   * IFRAME CONTENT
   * The app only forms the frame, but leaves the iFrame unfilled. 
   * From the called URL the page infers the content for the iframe and updates it. 
   */
  console.log("[Thought Tank] location: " + document.URL);
  console.log("[Thought Tank] match: " + document.URL.match("/notes/.*"));

  document.getElementById('mainContentIframe').src = document.URL.match("/notes/.*");

  /* 
   * BURGER MENU
   */

  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });

  /* 
   * TABS
   */

  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace("is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>