{{ $iframeresizerjs:= resources.Get "js/iframeResizer.min.js" }}
<script src="{{ $iframeresizerjs.RelPermalink }}"></script>

<script type="text/javascript">
  iFrameResize({
    log: false,
    checkOrigin: false,
    // Title and url should reflect the inner content, not the outer one.
    onMessage: function (payload) {
      console.log("[Thought Tank] Message from content iFrame" + JSON.stringify(payload));

      window.history.pushState({},
        payload.message.title, 
        {{ strings.TrimSuffix "/" .RelPermalink }} + payload.message.file + payload.message.title_urlize);
      document.title = payload.message.title;
    },
  }, '#mainContentIframe')
</script>


<script type="text/javascript">
  /* 
   * IFRAME CONTENT
   * The app only forms the frame, but leaves the iFrame unfilled. 
   * From the called URL the page infers the content for the iframe and updates it. 
   */
  // Wenn die URL über den Pfad (/app/<view>) hinaus gibt, der hinter Teil
  // This is just excuted on loading the file 
  console.log("[Thought Tank] location: " + document.URL);
  var reg_innerFile = "/.*\/app\/[^\/]*(\/(?:notes|references){1}\/[0-9]+)/";
  var matches = document.URL.match(reg_innerFile);

  if (matches) {
    var param_innerFile = matches[1];
    console.log("[Thought Tank] Found Parameter: " + param_innerFile );
    document.getElementById('mainContentIframe').src = param_innerFile;
  } else {
    document.getElementById('mainContentIframe').src = {{ .Params.initialContent }};
  }


  /* 
   * BURGER MENU
   */

  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });

</script>