{{/* With parameter format data contains additional Information to print */}}

<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            {{ with .format }}
            {{ range . }}
            <th>{{.colTitle}}</th>
            {{ end }}
            {{ end }}
            <th>Note</th>
            <th></th>
        </tr>
    </thead>

    {{ with .data}}
    {{ range . }}
    {{ $note:= . }}
    {{ if $.format }}
    {{ $note =  $.global.Site.GetPage .path }}
    {{ end }}

    {{ $data := . }}

    <tr>
        {{ range $.format }}
        <td>{{ index $data .colValue }}</td>
        {{ end }}
        <td><a href="{{ partial "humanizeURL" (dict "linkTo" $note "shouldHumanizeUrl" .Site.Params.appendTitleToNotesUrl ) }}">{{ $note.Title }}</a></td>
        <td><a href="/admin/#/edit/notes/{{ $note.Params.id }}">edit</a></td>
    </tr>
    {{ end }}
    {{ else }}
    <tr><td colspan="{{ add 2 (len $.format)}}" align="center">{{ emojify ":thumbsup: congrats, nothing to do here" }}</td></tr>
    {{ end }}
</table>
