{{ with .Site.Taxonomies.tags.entrypoint }}
<section class="section box">
    <h2 class="title is-2">Entry Points</h2>
    
    {{ $topic_groups := .Pages.GroupByParam "topics" }}
    {{ range $topic_groups }}
    {{ if ge (len $topic_groups) 2 }}
    <h3 class="title is-3">Topic {{ .Key }}</h3>
    {{ end }}
    <ul>
        {{ range (.Pages | first ( $.Get "limit" | default 5)) }}
        <li><a href="{{ partial "humanizeURL" (dict "linkTo" . "shouldHumanizeUrl" .Site.Params.appendTitleToNotesUrl) }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</section>
{{ end }}